In [1]:
import pandas as pd 
import numpy as np
import openpyxl as opx

# DE XLS A CSV

In [ ]:
#convertir un archivo xlsx a csv
dataset_4 = pd.read_excel(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_4.xlsx')
dataset_4.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_4.csv', index = False)
dataset_4

In [ ]:
dataset_5 = pd.read_excel(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_5.xlsx')
dataset_5.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_5.csv', index = False)
dataset_5

# De parquet a csv

In [ ]:
#convertir un archivo parquet a csv
producto = pd.read_parquet(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\producto.parquet')
producto.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\producto.csv', index = False)
producto

# De Json a Csv

In [ ]:
#de json a csv
dataset_2 = pd.read_json(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_2.json')
dataset_2.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_2.csv', index = False)
dataset_4

# De Txt a Csv

In [ ]:
# de txt a csv
dataset_3 = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_3.txt')
dataset_3.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_3_txt.csv', index = False)
dataset_3

# Transformaci√≥n de los Datos

In [7]:
dataset_1 = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_1.csv')
dataset_2 = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_2.csv')
dataset_3 = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_3_txt.csv')
dataset_4 = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_4.csv')
dataset_5 = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_5.csv')
producto = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\producto.csv')
sucursal = pd.read_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\sucursal.csv')

In [8]:
#eliminar filas vacias del dataset 1
dataset_1.isnull().sum()
dataset_1.dropna(inplace=True)
dataset_1.isnull().sum() 

#guardar cambios en el csv
dataset_1.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_1.csv', index = False)

In [9]:
#cambiamos el orden de las columnas en el dataset 4 
dataset_4 = dataset_4.reindex(columns=['precio', 'producto_id', 'sucursal_id'])
dataset_4.head(10) 

#guardar cambios en el csv
dataset_4.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_4.csv', index = False)

In [10]:
#eliminar 00:00:00 de la columna sucursal_id del dataset 5 
dataset_5['sucursal_id'] = dataset_5['sucursal_id'].str.replace('00:00:00', '')
dataset_5.head(10)

#guardar cambios en el csv
dataset_5.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_5.csv', index = False)

In [11]:
#cambianos el orden de las columnas en el dataset 5
dataset_5 = dataset_5.reindex(columns=['precio', 'producto_id', 'sucursal_id'])
dataset_5.head(10)  

#guardar cambios en el csv
dataset_5.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_5.csv', index = False)

In [12]:
#convertimos a str toda la col
dataset_5['sucursal_id']=dataset_5['sucursal_id'].astype(str)

#creamos una funcion para eliminar todos los datos horarios, y ordenar bien los datos de cadena
#colocando el los codigos en el orden correcto, que se desordenaron al cambiarlo a fecha
# para luego continuar con el proceso de transformacion
def norm_time (x):
    if ' ' in x:
        x = x.split(' ')[0]
        a = x.split('-')[0]
        b = x.split('-')[1]
        c = x.split('-')[2]
        x = c + '-' + b + '-' + a
    return x

dataset_5['sucursal_id']=dataset_5['sucursal_id'].apply(norm_time)

In [13]:
dataset_5['sucursal_id'] = dataset_5['sucursal_id'].str.replace('5218-03-09', '09-03-5218')
dataset_5.head()

   precio producto_id sucursal_id
0   29.90        2288     2-1-184
1   39.90        2288     2-1-206
2  499.99      205870     9-1-430
3  539.99      205870     9-2-107
4  539.99      205870  09-03-5218

In [14]:
#guardar cambios en el csv
dataset_5.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_5.csv', index = False)

In [23]:
dataset_5.isnull().sum()
dataset_5.fillna(0, inplace=True)
dataset_5.isnull().sum()

#guardar cambios en el csv
dataset_5.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_5.csv', index = False)

In [15]:
#reemplazar los valores nulos por 0 en el dataset 3
dataset_3.isnull().sum()
dataset_3.fillna(0, inplace=True)
dataset_3.isnull().sum()

precio         0
producto_id    0
sucursal_id    0
dtype: int64

In [16]:
#guardar cambios en el csv
dataset_3.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_3_txt.csv', index = False)

In [17]:
dataset_2.isnull().sum()
dataset_2.fillna(0, inplace=True)
dataset_2.isnull().sum() 

#guardar cambios en el csv
dataset_2.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_2.csv', index = False)

In [20]:
dataset_4.isnull().sum()
dataset_4.fillna(0, inplace=True)
dataset_4.isnull().sum()

#guardar cambios en el csv
dataset_4.to_csv(r'C:\Users\USER\Desktop\Proyects to Henry\PI01_DATA_ENGINEERING\Datasets\precios_semana_4.csv', index = False)